#main {
  border: solid 1px #000;
  padding: 20px;
  width: 550px;
  min-height: 500px;
  margin: 0 auto;
}

h5#scenario_title {
  font-size: small;
  text-align: right;
}

#control_panel {
  margin: 0 auto;
  width: 50%;
}

#control_panel img {
  width: 64px;
  height: 64px;
}


table.enemy {
  width: 100%;
  margin-bottom: 30px;
}

table.enemy,
table.enemy th,
table.enemy td {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.scenebtn {
  display: block;
  text-align: center;
  margin: 3px;
  padding: 5px;
  color: black;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #eee;
}

.scenepic {
  width: 350px;
}

#audio_onoff, #status_open, #dialog_list img.bonus_item {
  cursor: pointer;
}

img.dice {
  cursor: pointer;
  width: 50px;
}

#dialog_body input[type="number"] {
  width: 40px;
}

#dialog_body h3 {
  color: #c08;
}

#dialog_body td span, #dialog_body td label {
  color: #ffd;
}

#dialog_body {
  color: #f90;
  background-image: url(common/dialog_back.png);
  background-repeat: no-repeat;
  background-position: center;
}

#dialog_body .delta {
  color: Red;
  font-weight: bold;
}

#dialog_body th {
  padding-right: 5px;
  text-align: right;
}

#dialog_body th, #dialog_body td {
  vertical-align: top;
}

#dialog_body #state_desc {
  color: Red;
  font-weight: bold;
  font-size: small;
}

#status_save {
  margin-left: auto;
  cursor: pointer;
}

/*
#status_save {
  border: solid 2px #ff9; 
  background-color: #0000cd;
  color: #fff;
  cursor: pointer;
}
*/

#dialog_body input[type="number"], #dialog_body select, #dialog_body textarea {
  border-radius: 3px;
  background-color: #cad4ff;
}

#dialog_body textarea {
  width: 95%;
}

#magic_run {
  border: solid 2px #ff9; 
  background-color: #dc143c;
  color: #fff;
  cursor: pointer;
}

#dialog_body #chara_face {
  position: absolute;
  top: 40px;
  left: 500px;
}

table.item_list {
  border-collapse:collapse; 
}

table.item_list, table.item_list td {
  border: 1px solid #000;
  padding: 8px;
}

table.item_list img {
  width: 70px;
}