.playground {
  width: 560px;
  margin: 0 auto;
}

.playground textarea {
  width: 560px;
}

/*
#main {
  border: solid 1px #000;
  padding: 20px;
  width: 100%;
  max-width: 550px;
  min-height: 500px;
  margin: 0 auto;
}
*/

#stext .main.game {
  font-size: medium;
  max-width: 600px;
}

.main_back {
  background-image: url(common/main_back.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.main_bad {
  background-image: url(common/main_bad.png) !important;
}

#restart {
  background-image: url(common/restart_back.png);
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 500px;
}

h5#scenario_title {
  font-size: small;
  text-align: right;
}

#simple_status {
  font-size: small;
  font-weight: bold;
  text-align: center;
  opacity: 1.0;
}

#simple_status .status_v {
  font-weight: normal;
}

#debug_panel {
  margin-top: 10px;
}

/* ボーナスメッセージ */
.bonus_msg {
  background-color: Yellow;
  color: Red;
  font-size: larger;
}

/* コントロールパネル */
/* #control_panel {
  margin: 0 auto;
  width: 98%;
}

#control_panel img {
  margin-left: 0px;
  width: 62px;
  height: 62px;
  cursor: pointer;
}

#control_panel input[type="file"] {
  display: none;
} */

/* コンテキストメニュー */
/* .cxt {
  position: absolute;
  display: none;
  z-index: 99;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  background-color: #e8e8e8;
}

.cxt li {
  padding: 5px 15px 5px 15px;
  list-style: none;
  border-bottom-color: #ccc;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  color: #000;
  cursor: pointer;
}

.cxt li.sep {
  border-bottom-width: 2px;
  border-bottom-style: solid;
} */

table.enemy {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

table.enemy .enemy_title {
  font-size: small;
}

table.enemy,
table.enemy th,
table.enemy td {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.xbtn {
  width: 100%;
}

input.scene_move {
  width: 70%;
  height: 20px;
  background-color: #ff9;  
}

input.quest_str {
  width: 70%;
  height: 20px;
  background-color: #0fc;  
}

/* a.scene_move, a.quest_str {
} */

.scene_move, .quest_str {
  text-align: center;
  margin: 3px;
  padding: 5px;
  color: black;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #eee;  
}

.scenebtn {
  display: block;
  text-align: center;
  margin: 3px;
  padding: 5px;
  color: black;
  text-decoration: none;
  border: 1px solid #000;
  background-color: #eee;
}

.scenepic {
  width: 100%;
}

#dialog_list img.bonus_item {
  cursor: pointer;
}

img.dice {
  cursor: pointer;
  width: 50px;
}

/* #dialog_body input[type="number"] {
  width: 50px;
}

#dialog_body h3, #dialog_body #title {
  color: #c08;
}

#dialog_body td span, #dialog_body td label {
  color: #ffd;
}

#dialog_body {
  position: relative;
  border: 0px solid #000;
  background-color: #000;
  padding: 20px;
  width: 580px;
  height: 670px;
  margin: 0 auto;
  font-size: large;
  color: #f90;
  background-image: url(common/dialog_back.png);
  background-repeat: no-repeat;
  background-position: center;
}

#dialog_body .close {
  position: absolute;
  right: -16px;
  top: -10px;
  cursor: pointer;
}

#dialog_body .free_cell ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#dialog_body .free_cell li {
  width: 33%;
  margin: 0px;
  padding: 0px;
  font-size: small;
  list-style-type: none;
  text-align: right;
  float: left;
} */

#dialog_bonus {
  background-image: url(common/dialog_bonus_back.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* #dialog_list {
  background-image: url(common/dialog_list_back.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

#dialog_results {
  background-color: #000;
  background-image: url(common/dialog_result_back.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 75px 0px 0px;
}

#dialog_results table {
    width: 100%;
    display: block;
    overflow-y: scroll;
    height: 330px;
}

#dialog_results table::-webkit-scrollbar {
  width:5px;
  background: #336;
}

#dialog_results table::-webkit-scrollbar-thumb {
  background:#99f;
}

#dialog_results #result_rate {
  text-align: right;
  width: 100%;
}

#dialog_results table,
#dialog_results table td {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#dialog_results table td {
  padding-left: 5px;
}

#dialog_results table h3 {
  color: #ffa500;
}

#dialog_results table p {
  color: #9370db;
}

#dialog_body .delta {
  color: Red;
  font-weight: bold;
}

#dialog_body th {
  padding-right: 5px;
  text-align: right;
}

#dialog_body th, #dialog_body td {
  vertical-align: top;
  padding-bottom: 0.3rem;
}

#dialog_body #state_desc {
  color: Red;
  font-weight: bold;
  font-size: normal;
}

#status_save {
  margin-right: 15px;
  cursor: pointer;
}

#dialog_body input {
  height: 25px;
} */

#dialog_body input[type="number"], #dialog_body select, #dialog_body textarea,
input[type="number"].sgml {
  border-radius: 3px;
  background-color: #cad4ff;
  font-size: large;
}

input[type="number"].sgml {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

/* #dialog_body textarea {
  width: 100%;
}

#dialog_body input[type="button"] {
  border-radius: 0px;
}

#magic_run, #status_change {
  border: solid 2px #ff9; 
  background-color: #dc143c;
  color: #fff;
  cursor: pointer;
  font-size: large;
} */

.spinner_up {
  border: solid 1px #ff9; 
  background-color: #990000;
  color: #fff;
  cursor: pointer;
  font-size: large;
}

.spinner_down {
  border: solid 1px #ff9; 
  background-color: #000066;
  color: #fff;
  cursor: pointer;
  font-size: large;
}

.spinner_up.sgml, .spinner_down.sgml {
  border: solid 1px #000 !important; 
}


.spinner_down, .spinner_up {
  width: 50px;
  /*height: 25px;*/
}

/* .free_cell input {
  width: 45px !important;
} */

/* #magic_run {
  padding-left: 25px;
  padding-right: 25px;
}

#status_change {
  display: block;
  width: 95%;
}

#dialog_body #magic {
  width: 80%;
}

#dialog_body #flags {
  width: 90%;
} */

/* table.item_list {
  border-collapse:collapse; 
  background-color: #fff;
}

table.item_list, table.item_list td {
  border: 1px solid #000;
  padding: 8px;
}

table.item_list td {
  height: 70px;
}


table.item_list img {
  width: 70px;
} */

.enemy_row {
  cursor: pointer;
}

.enemy_check {
  transform: scale(1.3);
}

.enemy_row img {
  vertical-align: middle;
}

.enemy_func {
  border: outset 2px #000; 
  background-color: #000ccc;
  font-size: small;
  word-wrap: break-word;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  width: 100px;
}

.enemy_drop {
  border: outset 2px #000; 
  background-color: #aa0022 !important;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  min-width: 75px;
}

#damage_delta {
  display: inline;
  width: 50px !important;
}
/*
.toast{
  position: fixed;
  bottom: 10px;
  display: inline-block;
  background: rgba(240, 230, 140, 0.9);
  color: #000;
  border-radius: 15px;
  padding: 8px 15px;
  border: none;
  z-index: 1000;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 18px;
}
*/

/* マークダウン標準スタイル */
.markdown-body table:not([class]) {
  border-collapse:collapse; 
  background-color: #fff;
  margin: 5px;
}

.markdown-body table:not([class]), .markdown-body table:not([class]) th, .markdown-body table:not([class]) td {
  border: 1px solid #000;
  padding: 4px;
}

.markdown-body code {
  border: .5px solid #777;
  border-radius: 3px;
  font-size: 85%;
  margin: 2px;
  padding: .2em .4em;
}

.markdown-body pre {
  /*
  border: .5px solid #777;
  border-radius: 3px;
  */
  border-left: 4px solid #DDDDDD;
  color: #444;
  padding: 0 15px;
}

/* 簡易ステータスでの状態異常表示 */
.status_poison {
  font-weight: bold !important;
  color: Red;
}

.status_frozen {
  font-weight: bold !important;
  color: #1e90ff !important;
}

.status_stone {
  font-weight: bold !important;
  color: #696969 !important;
}

.status_curse {
  font-weight: bold !important;
  color: #0000ff !important;
}

.status_forget {
  font-weight: bold !important;
  color: #800080 !important;
}

/* ダイアログでの状態異常表示 */
.dialog_poison {
  background-color: Red !important;
  color: #fff !important;
}

.dialog_frozen {
  background-color: #1e90ff !important;
}

.dialog_stone {
  background-color: #696969 !important;
}

.dialog_curse {
  background-color: #0000ff !important;
}

/*
.dialog_curse option {
  color: #000 !important;
}
*/

.dialog_forget {
  background-color: #800080 !important;
}


/* ボーナスアイテムリスト（改定） */
/* #bonus_list {
  border: solid 1px #000;
  background-color: #000;
  color: #fff;
  padding: 20px;
  min-height: 500px;
  padding: 20px;
  margin: 0 auto;
}
  
#bonus_list .item_list {
  background-color: #000;
	margin: 0px auto;
	padding: 0px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#bonus_list .item_list li {
	list-style: none;
	border: solid 1px #000;
	background-color: #fff;
  padding: 10px;
	box-sizing: border-box;
	margin: 0px;
	flex: 0 0 80px;
	color: #fff;
}

#bonus_list .item_list img {
  width: 100%;
}

#bonus_list .item_list img.bonus_item {
  cursor: pointer;
} */

/* Renewal */
/* .dialog_root {
  background-image: url(common/renewal/wp.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.result_list td {
  border-collapse: collapse;
  margin-left: 0;
  text-align: left;
  line-height: 1.5;
  border-bottom: 1px solid #ccc;
} */

/* サイドメニュー表示ボタン */
#menu_battle {
  writing-mode: vertical-rl;
  width: 30px;
  height: 100px;
  background-color: black;
  border: 1px #fff solid;
  color: white;
  font-size: small;
  font-weight: bold;
  position: fixed;
  top: 100px;
  right: 0px;
  padding-top: 7px; 
  cursor: pointer;
  z-index: 999;
}
 
#menu_battle:hover {
  width: 80px;
  background-image: url(common/ctrl_battle.png);
  background-repeat: no-repeat;
  background-position: left center;
}

/* サイドバー（情報／ステータス） */
.sidr_info {
  background-image: url(common/side/back.png);
  background-repeat: no-repeat;
  background-position: right top 25px;
  background-color: #000;
  opacity: 1;
  color: #fff;
}

.sidr_info .side_tab {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: -10px;
}

.sidr_info img.cross {
  cursor: pointer;
  margin-right: 0px;
}

/* サイドバー（基本ステ／魔法） */
.sidr_info h2/*, #sidr_basic #sidr_basic_name*/ {
  color: #ffd;
}

#sidr_basic h2 {
  color: #C08
}

/* .sidr_info label.entry {
  color: #f90;
} */

.sidr_info input[type="number"],
.sidr_info input[type="text"],
.sidr_info select,
.sidr_info textarea {
  border-radius: 3px;
  background-color: #cad4ff;
  font-size: large;
}

.sidr_info #sidr_basic_name {
  font-size: x-large;
  width: 140px;
}

.sidr_info input[type="number"] {
  width: 38px;
}

.sidr_info #sidr_magic_magic {
  margin-top: 0px;
  width: 75%;
}

.sidr_info #sidr_magic_run,
.sidr_info #sidr_item_details,
.sidr_info #sidr_item_use {
  margin: 10px;
  padding: 5px;
  border: 1px solid #fff;
  background-color: #aa0022;
  color: white;
  text-align: center;
  width: 15%;
  height: 25px;
  cursor: pointer;
}

.sidr_info #sidr_status_list td,
.sidr_info #sidr_magic_list td {
  vertical-align: top;
  padding: 5px;
  width: 48%;
}

.sidr_info #sidr_result_list td {
  border-collapse: collapse;
  margin-left: 0;
  text-align: left;
  line-height: 1.5;
  border-bottom: 1px solid #ccc;
}

.sidr_info #sidr_magic_list td div {
  margin-bottom: 10px;
}

.sidr_info div {
  margin-bottom: 5px;
}

.sidr_info #sidr_status_free_list .spinner_down,
.sidr_info #sidr_status_free_list .spinner_up,
.sidr_info #sidr_status_free_list input[type="number"] {
  width: 40px;
}

/* サイドバー（Items & Flags）*/
.sidr_info textarea,
.sidr_info #sidr_item_item,
.sidr_info #sidr_item_flag {
  margin-left: 5px;
  margin-right: 5px;
  width: 90%;
  height: 100px;
}

.sidr_info .canuse {
  background-color: darkseagreen;
}

/* サイドバー（Battle） */
#sidr_battle #cubes {
  display: block;
  height: 53px;
}

/* サイドバー（Bonus）*/
.sidr_info #sidr_bonus_list {
  background-color: #000;
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sidr_info #sidr_bonus_list li {
  list-style: none;
  border: solid 1px #000;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px;
  flex: 0 0 80px;
  color: #fff;
}

.sidr_info #sidr_bonus_list img.bonus_item {
  cursor: pointer;
}

.sidr_info #sidr_bonus_list img {
  width: 100%;
}

/* サイドバー（PlayerRank） */
.sidr_info img {
  margin-right: 20px;
}

.sidr_info h3 {
  margin-top: 3px;
}

.sidr_info #rank_en {
  margin-top: 0px;
  font-weight: bold;
  color: #ff66ff;
}

.sidr_info #rank_jp {
  margin-top: 0px;
  font-size: normal;
  color: #ffd;
}

/* サイドバー内のリスト */
.sidr_list {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.sidr_list,
.sidr_list th,
.sidr_list td {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.sidr_list_noline {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.sidr_list_noline th {
  color: #f90;
  font-weight: bold;
  font-size: large;
  text-align: right;
}

.sidr_list th {
  color: #ffd;
}

.sidr_submit {
  margin: 20px;
  padding: 10px;
  border: 1px solid #fff;
  background-color: #20a;
  color: #fff;
  text-align: center;
  width: 80%;
  cursor: pointer;
}

.sidr_close {
  margin: 20px;
  padding: 10px;
  border: 1px solid #fff;
  background-color: #aa0022;
  color: white;
  text-align: center;
  width: 80%;
  cursor: pointer;
}

/* サイドメニュー */
/* .sidr {
  width: 500px !important;
  opacity: 0.91;
  box-shadow: 0 0 5px 5px rgb(168, 166, 166) !important;
}

.sidr.left {
  left: -1000px;
}

.sidr-inner {
  padding: 20px !important;
} */

#common_rule {
  margin: 10px;
}

#sidr_close {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  background-color: #aa0022;
  color: white;
  text-align: center;
  width: 80%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sidr {
    width: 98% !important;
  }
}

/* モバイル非表示 */
@media (max-width: 768px) {
  .pconly {
    display: none;
  }
}

/* メニューバー */
#main-menu input[type="file"] {
  display: none;
}

#main-menu img.icon {
  margin-top: -10px;
}

#menu_audio {
  margin: 0;
  padding: 0;
}

#menu_audio img {
  margin-top: 12px;
  margin-right: 5px;
}